article{
    margin-top: 30px;
}

img{
    margin: auto;
    box-shadow: 30px 30px 50px 0px rgb(110, 110, 110);
    border-radius: 10%;
    width: 400px;
    height: 400px;
}

.bevezeto h1{
    margin-bottom: 2rem;
}

.bevezeto table{
    margin-top: 2.3rem;
}

.bevezeto p{
    text-align: justify;
}
body{
    background-color: #f3f3f3;
}