article{
    margin-top: 30px;
}

img{
    border-radius: 30px;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 20%);
}

.bevezeto h1{
    margin-bottom: 2rem;
}

.bevezeto table{
    margin-top: 2.3rem;
}

.bevezeto p{
    text-align: justify;
}