h1{
    text-align: center;
    margin: 20px 10px;
}
.card{
    margin: auto;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border: 0;
}

.card img{
    border-radius: 15px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 55% 10%;

}

.carousel-item{
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: 39% -5%;
}

.btn{
    color: #fff;
}



h2{
    text-align: center;
}

