h1{
    text-align: center;
    margin: 20px 10px;
}
.card{
    margin: auto;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border: 0;
}

.card img{
    border-radius: 15px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 55% 10%;

}

.carousel-item{
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: 39% -5%;
}

.btn{
    color: #fff;
}



h2{
    text-align: center;
}


p{
    text-align: justify;
}


.kiemelt .img{
    text-align: center;
}

.kiemelt img{
    width: 70%;
    border-radius: 15px;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

footer a:hover{
    color: rgb(142, 142, 142);
}